@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.ttf") format("ttf"), url("../fonts/Inter-Black.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("ttf"), url("../fonts/Inter-Bold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.ttf") format("ttf"), url("../fonts/Inter-ExtraBold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff"), url("../fonts/Inter-ExtraLight.ttf") format("ttf"), url("../fonts/Inter-ExtraLight.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.ttf") format("ttf"), url("../fonts/Inter-Light.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("ttf"), url("../fonts/Inter-Medium.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("ttf"), url("../fonts/Inter-Regular.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("ttf"), url("../fonts/Inter-SemiBold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff"), url("../fonts/Inter-Thin.ttf") format("ttf"), url("../fonts/Inter-Thin.eot") format("eot");
  font-display: swap;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

.btn {
  padding: 0.7em 1.7em;
  border-radius: 30px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  background-color: var(--bg-btn);
  color: var(--text-color-white);
  box-shadow: var(--btn-box-shadow);
  transition-duration: 0.3s;
}

.btn:hover {
  box-shadow: var(--btn-box-shadow-hover);
}

.btn:active {
  box-shadow: var(--btn-box-shadow-active);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  font-size: clamp(4.5px,
    calc((((5.5) * ((100vw - 320px) * 100) / (1120)) / 100) + 4.5px),
    10px);
  --bg-body: #A29BFE;
  --bg-main: rgb(250, 250, 250);
  --bg-btn: #6C5CE7;
  --text-color-black: #2D3436;
  --text-color-white: #FFFFFF;
  --text-color-red: #D63031;
  --text-color-purple: #6C5CE7;
  --btn-box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.5),
      inset 0 0 0 rgba(0, 0, 0, 0);
  --btn-box-shadow-hover: 0 0 1vw rgba(0, 0, 0, 1),
      inset 0 0 0 rgba(0, 0, 0, 0);
  --btn-box-shadow-active: 0 0 0 rgba(0, 0, 0, 0.0),
      inset 0 0 1vw rgba(0, 0, 0, 1);
}

html {
  position: relative;
}

body {
  font-family: "Inter";
  font-style: normal;
  background-color: var(--bg-body);
  color: var(--text-color-black);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-color: var(--bg-main);
  box-shadow: 0 0 150px grey;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

header .nav-bar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--bg-main);
  padding-top: clamp(10px,
      calc((((0) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      10px);
  padding-right: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
  padding-bottom: clamp(10px,
      calc((((0) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      10px);
  padding-left: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
  box-shadow: 0 0 5px rgba(38, 50, 56, 0.16);
}

header .nav-bar .burger {
  display: none;
}

header .nav-bar .logo {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

header .nav-bar .logo img {
  max-width: 7rem;
  margin-left: -6rem;
}

header .nav-bar .logo h2 {
  color: var(--text-color-black);
  font-weight: 600;
  font-size: 4.8rem;
  margin-left: -0.5rem;
}

header .nav-bar .links {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header .nav-bar .links li a {
  text-decoration: none;
  padding: 1px;
  color: var(--text-color-purple);
  font-weight: 400;
  font-size: 1.8rem;
  white-space: nowrap;
  transition-duration: 0.3s;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .nav-bar .links li a.active {
  color: var(--text-color-black);
}

header .nav-bar .dot {
  position: relative;
  padding-top: clamp(2px,
      calc((((28) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
      30px);
  padding-right: clamp(2px,
      calc((((28) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
      30px);
  padding-bottom: clamp(2px,
      calc((((28) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
      30px);
  padding-left: clamp(2px,
      calc((((28) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
      30px);
}

header .nav-bar .dot:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #FDCB6E;
}

header .nav-bar .btn {
  justify-self: end;
}

.section-1.desktop {
  margin: 0 auto;
  position: relative;
  padding: 4rem 6rem;
  overflow: hidden;
  z-index: 1;
  padding-top: clamp(10px,
      calc((((90) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      100px);
  padding-right: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
  padding-bottom: clamp(10px,
      calc((((90) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      100px);
  padding-left: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
}

.section-1.desktop .bg-img {
  position: absolute;
  inset: 0;
  background-color: var(--bg-main);
  z-index: -1;
}

.section-1.desktop .bg-img img:nth-child(1) {
  position: absolute;
  top: 2%;
  right: 0;
  width: 29rem;
}

.section-1.desktop .bg-img img:nth-child(2) {
  position: absolute;
  top: -5%;
  right: 0;
  width: 145rem;
}

.section-1.desktop .title {
  margin-bottom: clamp(5px,
      calc((((65) * ((100vw - 320px) * 100) / (1120)) / 100) + 5px),
      70px);
  font-weight: 800;
  line-height: 10rem;
}

.section-1.desktop .title h1 {
  font-size: 9.6rem;
  text-shadow: 0px 4px 0px #FFFFFF;
}

.section-1.desktop .title h1 span {
  position: relative;
  color: var(--text-color-red);
}

.section-1.desktop .title h1 span img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19rem;
  z-index: -1;
}

.section-1.desktop .title h2 {
  font-size: 6.4rem;
}

.section-1.desktop .tiles {
  display: grid;
  grid-template-columns: clamp(60px,
    calc((((210) * ((100vw - 320px) * 100) / (1120)) / 100) + 60px),
    270px) clamp(60px,
    calc((((210) * ((100vw - 320px) * 100) / (1120)) / 100) + 60px),
    270px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px);
  grid-template-rows: clamp(10px,
    calc((((20) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
    30px) clamp(10px,
    calc((((20) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
    30px) 0 clamp(58px,
    calc((((162) * ((100vw - 320px) * 100) / (1120)) / 100) + 58px),
    220px) clamp(28px,
    calc((((157) * ((100vw - 320px) * 100) / (1120)) / 100) + 28px),
    185px) clamp(25px,
    calc((((45) * ((100vw - 320px) * 100) / (1120)) / 100) + 25px),
    70px) clamp(38px,
    calc((((-28) * ((100vw - 320px) * 100) / (1120)) / 100) + 38px),
    10px);
  grid-gap: clamp(8px,
    calc((((22) * ((100vw - 320px) * 100) / (1120)) / 100) + 8px),
    30px);
  grid-template-areas: "t-1 t-4 t-4 ... ..." "... t-4 t-4 t-7 t-7" "t-2 t-4 t-4 ... ..." "t-2 t-4 t-4 t-8 t-9" "t-2 t-5 t-6 t-6 t-10" "t-3 t-5 t-6 t-6 t-10" "... ... t-6 t-6 ...";
}

.section-1.desktop .tiles .t-1 {
  grid-area: t-1;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: clamp(2px,
    calc((((33) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
    35px);
  text-align: left;
}

.section-1.desktop .tiles .t-2 {
  grid-area: t-2;
}

.section-1.desktop .tiles .t-2 img {
  width: 100%;
  height: auto;
}

.section-1.desktop .tiles .t-3 {
  grid-area: t-3;
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
  align-items: center;
}

.section-1.desktop .tiles .t-4 {
  grid-area: t-4;
  overflow: hidden;
  border-radius: 2rem;
}

.section-1.desktop .tiles .t-4 img {
  width: 100%;
  height: auto;
  transform: translateY(1%) scale(1.02);
}

.section-1.desktop .tiles .t-5 {
  grid-area: t-5;
}

.section-1.desktop .tiles .t-5 img {
  width: 100%;
  height: auto;
}

.section-1.desktop .tiles .t-6 {
  grid-area: t-6;
  border-radius: 2rem;
  overflow: hidden;
}

.section-1.desktop .tiles .t-6 img {
  width: 100%;
  height: auto;
}

.section-1.desktop .tiles .t-7 {
  grid-area: t-7;
  width: 100%;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: clamp(2px,
    calc((((33) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
    35px);
  text-align: left;
}

.section-1.desktop .tiles .t-8 {
  grid-area: t-8;
}

.section-1.desktop .tiles .t-8 img {
  width: 100%;
  height: auto;
}

.section-1.desktop .tiles .t-9 {
  grid-area: t-9;
}

.section-1.desktop .tiles .t-9 img {
  width: 100%;
  height: 100%;
  transform: translate(0, 2%);
  scale: 1.04;
}

.section-1.desktop .tiles .t-10 {
  grid-area: t-10;
}

.section-1.desktop .tiles .t-10 img {
  width: 100%;
  height: auto;
}

.section-1.mobile {
  display: none;
  margin: 0 auto;
  position: relative;
  padding: 4rem 6rem;
  overflow: hidden;
  z-index: 1;
  padding-top: clamp(10px,
      calc((((90) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      100px);
  padding-right: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
  padding-bottom: clamp(10px,
      calc((((90) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      100px);
  padding-left: clamp(10px,
      calc((((125) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
      135px);
}

.section-1.mobile .bg-img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.section-1.mobile .bg-img img:nth-child(1) {
  position: absolute;
  top: 2%;
  right: 0;
  width: clamp(100px,
    calc((((200) * ((100vw - 320px) * 100) / (1120)) / 100) + 100px),
    300px);
  z-index: 1;
}

.section-1.mobile .bg-img img:nth-child(2) {
  position: absolute;
  top: clamp(-50px,
    calc((((50) * ((100vw - 320px) * 100) / (1120)) / 100) + -50px),
    0px);
  right: 0;
  width: clamp(250px,
    calc((((250) * ((100vw - 320px) * 100) / (1120)) / 100) + 250px),
    500px);
  z-index: 0;
}

.section-1.mobile .bg-img img:nth-child(3) {
  position: absolute;
  top: clamp(165px,
    calc((((105) * ((100vw - 320px) * 100) / (1120)) / 100) + 165px),
    270px);
  transform: translate(0, -80%);
  right: 0;
  width: 100%;
  z-index: -1;
}

.section-1.mobile .title {
  margin-bottom: clamp(5px,
      calc((((65) * ((100vw - 320px) * 100) / (1120)) / 100) + 5px),
      70px);
}

.section-1.mobile .title h1 {
  width: clamp(200px,
    calc((((400) * ((100vw - 320px) * 100) / (1120)) / 100) + 200px),
    600px);
  margin: 0.3em auto;
  font-weight: 900;
  font-size: 9.6rem;
  line-height: 9rem;
  text-shadow: 0px 4px 0px #FFFFFF;
}

.section-1.mobile .title h1 span:nth-child(1) {
  font-weight: 600;
  line-height: 10rem;
  font-size: 7rem;
  position: relative;
  color: var(--text-color-red);
  display: inline-block;
}

.section-1.mobile .title h1 span:nth-child(1) img {
  position: absolute;
  left: 1%;
  bottom: 5%;
  width: 100%;
  scale: 1.1;
  z-index: -1;
}

.section-1.mobile .title h1 span:nth-child(2) {
  font-weight: 600;
  line-height: 10rem;
  font-size: 7rem;
  position: relative;
  color: var(--text-color-black);
  display: inline-block;
}

.section-1.mobile .title h2 {
  width: clamp(200px,
    calc((((300) * ((100vw - 320px) * 100) / (1120)) / 100) + 200px),
    500px);
  margin: 0 auto 1em auto;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 6rem;
}

.section-1.mobile .title img {
  margin: 0 auto;
}

.section-1.mobile .tiles {
  background-color: red;
  display: grid;
  grid-template-columns: clamp(60px,
    calc((((210) * ((100vw - 320px) * 100) / (1120)) / 100) + 60px),
    270px) clamp(60px,
    calc((((210) * ((100vw - 320px) * 100) / (1120)) / 100) + 60px),
    270px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px) clamp(50px,
    calc((((120) * ((100vw - 320px) * 100) / (1120)) / 100) + 50px),
    170px);
  grid-template-rows: clamp(10px,
    calc((((20) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
    30px) clamp(10px,
    calc((((20) * ((100vw - 320px) * 100) / (1120)) / 100) + 10px),
    30px) 0 clamp(58px,
    calc((((162) * ((100vw - 320px) * 100) / (1120)) / 100) + 58px),
    220px) clamp(28px,
    calc((((157) * ((100vw - 320px) * 100) / (1120)) / 100) + 28px),
    185px) clamp(25px,
    calc((((45) * ((100vw - 320px) * 100) / (1120)) / 100) + 25px),
    70px) clamp(38px,
    calc((((-28) * ((100vw - 320px) * 100) / (1120)) / 100) + 38px),
    10px);
  grid-gap: clamp(8px,
    calc((((22) * ((100vw - 320px) * 100) / (1120)) / 100) + 8px),
    30px);
  grid-template-areas: "t-1 t-4 t-4 ... ..." "... t-4 t-4 t-7 t-7" "t-2 t-4 t-4 ... ..." "t-2 t-4 t-4 t-8 t-9" "t-2 t-5 t-6 t-6 t-10" "t-3 t-5 t-6 t-6 t-10" "... ... t-6 t-6 ...";
}

.section-1.mobile .tiles .t-1 {
  grid-area: t-1;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: clamp(2px,
    calc((((33) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
    35px);
  text-align: left;
}

.section-1.mobile .tiles .t-2 {
  grid-area: t-2;
}

.section-1.mobile .tiles .t-2 img {
  width: 100%;
  height: auto;
}

.section-1.mobile .tiles .t-3 {
  grid-area: t-3;
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
  align-items: center;
}

.section-1.mobile .tiles .t-4 {
  grid-area: t-4;
  overflow: hidden;
  border-radius: 2rem;
}

.section-1.mobile .tiles .t-4 img {
  width: 100%;
  height: auto;
  transform: translateY(1%) scale(1.02);
}

.section-1.mobile .tiles .t-5 {
  grid-area: t-5;
}

.section-1.mobile .tiles .t-5 img {
  width: 100%;
  height: auto;
}

.section-1.mobile .tiles .t-6 {
  grid-area: t-6;
  border-radius: 2rem;
  overflow: hidden;
}

.section-1.mobile .tiles .t-6 img {
  width: 100%;
  height: auto;
}

.section-1.mobile .tiles .t-7 {
  grid-area: t-7;
  width: 100%;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: clamp(2px,
    calc((((33) * ((100vw - 320px) * 100) / (1120)) / 100) + 2px),
    35px);
  text-align: left;
}

.section-1.mobile .tiles .t-8 {
  grid-area: t-8;
}

.section-1.mobile .tiles .t-8 img {
  width: 100%;
  height: auto;
}

.section-1.mobile .tiles .t-9 {
  grid-area: t-9;
}

.section-1.mobile .tiles .t-9 img {
  width: 100%;
  height: 100%;
  transform: translate(0, 2%);
  scale: 1.04;
}

.section-1.mobile .tiles .t-10 {
  grid-area: t-10;
}

.section-1.mobile .tiles .t-10 img {
  width: 100%;
  height: auto;
}

@media (min-width: 1450px) {
  .nav-bar {
    border-radius: 3rem 3rem 0 0;
  }

  .nav-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-body);
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .section-1.desktop {
    display: none;
  }

  .section-1.mobile {
    display: block;
  }
}

@media (max-width: 425px) {
  header .nav-bar {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  header .nav-bar .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 12px;
    height: 12px;
    margin-right: 3vw;
  }

  header .nav-bar .burger li {
    width: 100%;
    height: 1.3px;
    background-color: var(--text-color-black);
    transition-duration: 0.15s;
  }

  header .nav-bar .burger.active li:nth-child(1) {
    transform: translateY(235%) rotate(45deg);
  }

  header .nav-bar .burger.active li:nth-child(2) {
    display: none;
  }

  header .nav-bar .burger.active li:nth-child(3) {
    transform: translateY(-235%) rotate(-45deg);
  }

  header .nav-bar .logo {
    margin-right: auto;
  }

  header .nav-bar .logo img {
    display: none;
  }

  header .nav-bar .links {
    position: absolute;
    z-index: -2;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main);
    display: list-item;
    padding: 11.5rem 0 0 0;
    margin: 0;
    transition-duration: 0.5s;
  }

  header .nav-bar .links.active {
    transform: translateY(100vh);
  }

  header .nav-bar .links li {
    box-sizing: border-box;
    margin: 2rem;
  }

  header .nav-bar .links li a {
    display: block;
    font-size: 3.5rem;
    padding: 0.6em;
    width: inherit;
    background-color: var(--bg-btn);
    color: var(--text-color-white);
    border-radius: 2rem;
  }

  header .nav-bar .links li a:hover {
    transform: scale(1);
    box-shadow: var(--btn-box-shadow-hover);
  }

  header .nav-bar .links li a:active {
    box-shadow: var(--btn-box-shadow-active);
  }

  header .nav-bar .dot {
    display: none;
  }

  header .nav-bar .btn {
    margin-left: auto;
    font-size: 3rem;
    border-radius: 0.5em;
    padding: 0.5em 2.2em;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}