.section-1 {
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;
    padding: 4rem 6rem;
    overflow: hidden;
    z-index: 1;
    padding: 1vw min(10vw, 135px);

}

.bg-img {
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
}

.bg-img img:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 29rem;
}

.bg-img img:nth-child(2) {
    position: absolute;
    top: -12%;
    right: 0;
    width: 145rem;

}

.section-1.title {}

.section-1 .title h1 {
    font-weight: 800;
    font-size: 9.6rem;
}

.section-1 .title h1 span {
    position: relative;
    color: red;
}

.section-1 .title h1 span img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 19rem;
    z-index: -1;
}

.section-1 .title h2 {
    font-weight: 900;
    font-size: 6.4rem;
    margin-bottom: 3vw;
}


.section-1 .tiles {
    display: grid;
    grid-template-columns: min(18.7vw, 270px) min(18.7vw, 270px) min(11.2vw, 161.3px) min(11.8vw, 170px) min(11.8vw, 170px);
    grid-template-rows: min(2.1vw, 30px) min(2.1vw, 30px) 0vw min(15.3vw, 220.32px) min(12.7vw, 183px) min(4.86vw, 70px) auto auto;
    grid-gap: min(2.15vw, 31px);
    grid-template-areas:
        't-1 t-4 t-4 ... ...'
        '... t-4 t-4 t-7 t-7'
        't-2 t-4 t-4 ... ...'
        't-2 t-4 t-4 t-8 t-9'
        't-2 t-5 t-6 t-6 t-10'
        't-3 t-5 t-6 t-6 t-10'
        '... ... t-6 t-6 ...'
    ;
}

.section-1 .tiles .t-1 {
    grid-area: t-1;
}

.section-1 .tiles .t-1 {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 32px;
    text-align: left;
}

.section-1 .tiles .t-2 {
    grid-area: t-2;
}

.section-1 .tiles .t-2 img {
    width: 100%;
    height: auto;
}

.section-1 .tiles .t-3 {
    grid-area: t-3;
}

.section-1 .tiles .t-3 {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    align-items: center;
}

.section-1 .t-4 {
    grid-area: t-4;
    overflow: hidden;
    border-radius: 2rem;
}

.section-1 .t-4 img {
    width: 100%;
    height: auto;
    transform: translateY(1%) scale(1.02);
}

.section-1 .t-5 {
    grid-area: t-5;
}

.section-1 .t-5 img {
    width: 100%;
    height: auto;
}

.section-1 .t-6 {
    grid-area: t-6;
}

.section-1 .t-6 img {
    width: 100%;
    height: auto;
}

.section-1 .t-7 {
    grid-area: t-7;
    width: 100%;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 32px;
    text-align: left;
}

.section-1 .t-8 {
    grid-area: t-8;
}

.section-1 .t-8 img {
    width: 100%;
    height: auto;
}

.section-1 .t-9 {
    grid-area: t-9;
}

.section-1 .t-9 img {
    width: 101%;
    height: 103%;

}

.section-1 .t-10 {
    grid-area: t-10;
}

.section-1 .t-10 img {
    width: 100%;
    height: auto;
}