.btn {
    padding: 0.7em 1.7em;
    border-radius: 30px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    background-color: #6C5CE7;
    color: #fff;
    box-shadow: var(--btn-box-shadow);
    transition-duration: 0.3s;
}

.btn:hover {
    box-shadow: var(--btn-box-shadow-hover);
}

.btn:active {
    box-shadow: var(--btn-box-shadow-active)
}